.navbar-left {
    background-color: var(--secondary-background);
    font-size: 20px;
    height: var(--navbar-height);
    color: var(--primary-text);
    padding: 8px 25px;
    min-width: 100px;
    border-radius: 0 0 12px 0;
}
.navbar-right {
    background-color: var(--secondary-background);
    font-size: 20px;
    padding: 0 8px;
    border-radius: 0 0 0 12px;
    color: var(--primary-text);

    .time {
        margin: 0 20px;
        font-weight: 600;
    }
    .letter-icon {
        font-size: 16px;
        background-color: var(--primary-background);
    }
}
.self-video {
    width: 65px;
    min-width: 65px;
    height: 65px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    position: relative;

    video {
        min-height: 100%;
        width: 135% !important;
    }
}
.room-view {
    width: 100%;
    height: calc(100vh - var(--navbar-height) - var(--controls-height) - 50px);
    display: flex;
}
.room-streams {
    margin: 10px;
    max-width: 100%;
    // width: 1600px;
    width: 100%;
    align-items: center;
    height: 100%;
    position: relative;
}
@keyframes scale-in {
    0% {
        opacity: 0;
        transform: scale(0);
        max-width: 0;
    }
    100% {
        opacity: 1;
        transform: scale(1);
        max-width: 45%;
    }
}
.waiting-container {
    max-width: 100%;
}
.waiting-room {
    height: 100vh;
    max-width: 100%;

    .header {
        font-size: 24px;
        margin-top: -25px;
        margin-left: 60px;
    }
    .silent {
        color: var(--muted-text);
        font-weight: 600;
        margin-top: 10px;
        font-size: 16px;
    }
    .button {
        padding: 12px 0;
        width: 150px;
        margin-top: 30px;
        font-size: 16px;
    }
    .user {
        position: relative;
        width: 500px;
        max-width: 100%;
    }
    .waiting-controls {
        transform: translateY(-70px);

        .control-btn {
            width: 45px;
            height: 45px;
        }
        .control-btn:not(.active-btn) {
            background-color: rgba(0,0,0,.4);
        }
        svg {
            width: 20px;
        }
    }
}
.user {
    // flex: 1 calc((100% / var(--row-items) - 50px));
    // max-width: 55%;
    // width: calc((100% / var(--row-items) - 50px));
    // flex-grow: 1;
    position: absolute;
    border-radius: 12px;
    overflow: hidden;
    border: 4px solid transparent;
    transition: transform .5s, opacity .5s, max-width .4s, margin .4s, width .5s, top .5s, left .5s;

    &.is-speaking {
        border: 4px solid var(--speaking-color);
    }
    &.self-muted {
        border-color: transparent !important;
    }

    &.connecting {
        max-width: 0;
        opacity: 0;
        transform: scale(0);
        animation: scale-in .4s forwards;
    }
    
    .stream {
        overflow: hidden;
        height: 100%;
    }

    .user-top {
        position: absolute;
        top: 0;
        right: 0;
        padding: 15px;
        z-index: 13;

        svg {
            fill: var(--primary-text);
            width: 40px;
            background-color: rgba(0,0,0,.2);
            border-radius: 50%;
            padding: 8px;
        }
    }

    video {
        width: 100%;
    }
    
    .username {
        position: absolute;
        bottom: 0;
        color: var(--primary-text);
        padding: 15px;
        font-weight: 600;
    }

    &.disconnected {
        transform: scale(0) !important;
        opacity: 0 !important;
    }
    &.shrink {
        max-width: 0% !important;
        margin: -4px !important;
    }
    &:hover {
        .stream-options {
            opacity: 1;
        }
    }
}
.stream-options {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 13;
    background-color: rgba(0,0,0,.4);
    padding: 8px 13px;
    border-radius: 120px;
    opacity: 0;
    transition: opacity .2s;

    &>div {
        margin: 0 8px;
    }

    svg {
        fill: var(--primary-text);
        width: 20px;
        margin-bottom: -4px;
    }
    .speaker-icon svg {
        width: 25px;
    }
}
.letter-icon {
    font-size: 9em;
    color: var(--primary-text);
    width: 100%;
    position: absolute;
    background-color: var(--secondary-background);
    height: 100%;
}
.controls {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    padding: 0 15px;
    z-index: 14;
    height: var(--controls-height);

    .center {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .right {
        position: absolute;
        right: 20px;
    }
}
.control-btn {
    border-radius: 50%;
    background-color: var(--secondary-background);
    width: 50px;
    height: 50px;
    margin: 0 10px;

    svg {
        fill: var(--primary-text);
        width: 30px;
    }

    &.active-btn {
        background-color: var(--active-color);
    }
}

.sidebar ~ div {
    width: 100%;
    transition: width .4s;
}
.sidebar {
    background-color: var(--secondary-background);
    width: var(--sidebar-width);
    border-radius: var(--border-radius);
    position: fixed;
    right: calc(0px - var(--sidebar-width));
    height: calc(100vh - var(--navbar-height) - var(--controls-height) - 75px);
    top: calc(var(--navbar-height) + 25px);
    transition: right .4s;
    z-index: 14;
    padding: 15px;

    &.open {
        right: 25px;

        &~div:not(.controls) {
            width: calc(100% - var(--sidebar-width) - 25px);
        }
    }
}

.header {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-text);
    margin-bottom: 12px;
}
.chat {
    height: 100%;
}
.message-notice {
    color: var(--muted-text);
    font-family: Arial, Helvetica, sans-serif;
}
.messages {
    height: 100%;
    max-height: 91%;
    overflow: auto;
    padding-bottom: 15px;
}
.messages::-webkit-scrollbar {
    width: 8px;
}
.unread-marker {
    position: absolute;
    top: -2px;
    right: -2px;
    background-color: var(--active-color);
    width: 20px;
    font-size: 13px;
    height: 20px;
    padding: 2px;
    border-radius: 50%;
    text-align: center;
    color: #fff;
}
.messages::-webkit-scrollbar-thumb {
    background-color: var(--input-background);
    border-radius: 8px;
}
.message {
    color: var(--primary-text);
    padding: 3px 0;
    position: relative;
}
.message.has-author {
    margin-top: 12px;
}
.message .letter-icon {
    width: 42px;
    height: 42px;
    font-size: 22px;
    background-color: var(--input-background);
    border-radius: 50%;
}
.message-top {
    margin-bottom: 3px;

    .author {
        color: var(--primary-light);
        font-weight: 600;
    }
}
.message-main {
    padding-left: 58px;
}
.message .timestamp {
    font-size: 0.85rem;
    line-height: 1.325rem;
    color: var(--muted-text);
    margin-left: 10px;
    font-weight: 600;
}
.chat-notifications {
    z-index: 15;
    position: fixed;
    bottom: 18px;
    right: 100px;
    min-width: 275px;
    max-width: 350px;
    pointer-events: none;
}
.notification {
    background-color: var(--secondary-background);
    padding: 12px 18px;
    width: 275px;
    border-radius: var(--border-radius);
    pointer-events: all;
    opacity: 0;
    transition: opacity .2s, height .2s, margin-bottom .2s, padding .2s;
    height: 0;
    margin-bottom: 7px;
    
    .message-content {
        overflow: hidden;
        position: relative;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 14px;
        width: 100%;
    }

    .message {
        margin: 0;
    }
    .timestamp {
        display: none;
    }
    &.animate-in {
        opacity: 1;
        height: 71px;
    }
    &.animate-out {
        opacity: 0;
        height: 0;
        margin-bottom: 0;
        padding: 0 18px;
    }
}