:root {
  --primary-background: #0e1015;
  --secondary-background: #1c212c;
  --secondary-background-hover: #171c25;
  --input-background: #262d3b;
  --primary-color: #005cda;
  --primary-light: #fff;
  --primary-text: #DCDDDE;
  --muted-text: #72767d;
  --primary-text-with-light: #0e1015;
  --active-color: #ed4245;
  --active-color-hover: #d83c3e;
  --navbar-height: 65px;
  --controls-height: 50px;
  --speaking-color: #008dc4;
  --tooltip-background: #0a0b0f;
  --sidebar-width: 350px;
  --border-radius: 8px;
  --max-user-width: 23%;
  --stream-container-width: 100%;
  --row-items: 1;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: var(--primary-background);
  overflow: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}
.disabled {
  pointer-events: none;
}

.feedback-tip {
  position: fixed;
  bottom: -56px;
  left: 15px;
  background-color: var(--secondary-background);
  padding: 15px;
  border-radius: 5px;
  color: var(--primary-text);
  transition: bottom .5s;
  z-index: 14141414;
}
.feedback-tip.animate-out {
  bottom: -56px;
}
.feedback-tip.animate-in {
  bottom: 15px;
}

[data-tooltip]::after {
  pointer-events: none;
}
[data-tooltip] {
  position: relative;
}
[data-tooltip-direction="up"]::after {
  top: -43px;
}
[data-tooltip-direction="down"]::after {
  top: 53px;
}
[data-tooltip]::after {
  content: attr(data-tooltip);
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%) scale(.7);
  background-color: var(--tooltip-background);
  white-space: nowrap;
  color: var(--primary-text);
  padding: 6px 12px;
  border-radius: 5px;
  opacity: 0;
  transition: opacity .15s, transform .15s;
}
[data-tooltip]:hover::after {
  opacity: 1;
  transform: translate(-50%) scale(1);
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 16;
}
.modal {
  pointer-events: all;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.back-drop {
  pointer-events: all;
}